* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica','Arial','sans-serif';
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

 main {
	border: 3px solid black;
	display: inline-grid;
	grid-template-rows: 1fr;
	place-items: center;
	border-radius: 5px;
	width: 90%;
	padding: 0 0 20px;
 }

 a {
	text-decoration: none;
 }

 @media (min-width:1020px) {
	body {
		/* padding: 10px; */
		border: 2px solid black;
	}
	main {
		width: 85%;
		}
	
 }
