header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 15px;
}
  section h1 {
    margin: 10px 0 20px;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    border-radius: 10px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li:first-child {
    list-style: none;
  }

  nav ul li {
    list-style: "/";
    padding: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }
