/* ==========================
          Top Section
==============================*/
.top-section {
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 20px;
}

  .top-section h1{
    font-family: 'Patrick Hand';
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }

  .top-section .top-desc {
    margin-top: 0;
    color: gray;
    text-align: center;
  }
/* ==========================
          Middle Section
==============================*/
.middle-section {
  display: inline-grid;
  row-gap: 15px;
  padding-top: 10px;
  width: 100%;
}
  .mid-left-section {
    place-items: center;
  }

  .mid-left-section h2 {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }

  .mid-left-section a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    color: black;
    background-color: aliceblue;
  }

  .mid-right-section a:first-child {
    border-top: 2px solid black;
  }

  .mid-left-section h2,
  .mid-mid-top-section h2,
  .mid-right-section h2,
  .bottom-section h2 {
    font-size: 1.4rem;
    font-family: 'Patrick Hand';
  }
/* ==========================
  Middle Inner Middle Section
==============================*/
.mid-middle-section {
  width: 100%;
} 

  .mid-mid-top-section,.mid-mid-bot-section {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    background-color: aliceblue;
  }

  .mid-mid-top-section h2{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    background-color: white;
  }

  .mid-mid-top-section p,
  .mid-mid-top-section a,
  .mid-mid-bot-section p,
  .mid-mid-bot-section a {
    padding: 8px 20px 8px;
  }

  .mid-mid-top-section .title,
  .mid-mid-bot-section .title{
    font-family: "Patrick Hand";
  }

  .mid-mid-bot-section .desc {
    width: 300px;
  }

/* =======================
    Middle Right Section
    ======================*/
.mid-right-section {
  width: 100%;
}
  .mid-right-section h2 {
    text-align: center;
  }
  .mid-right-section .study {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .mid-right-section .desc {
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .mid-right-section .courses {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    padding-left: 15px;
  }

/* ========================
        Bottom Section
   ========================*/
.bottom-section{
  width: 100%;
  padding: 20px 15px;
}
  .reviews-container {
    place-items: center;
  }

  .bottom-section h2 {
    text-align: center;
  }

  .testimony-container {
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 20px 20px;
    margin-top: 20px;
    width: 350px;
  }

  .testimony-container p{
    margin-bottom: 15px;
  }

  .testimony-container h4,
  .testimony-container h5 {
    color: rgb(180, 180, 180);
  }

  .testimony-container:nth-child(2),
  .testimony-container:last-child {
    display: none;
  }
/* =================
        Footer
   =================*/
footer {
  font-size: 1.5rem;
  font-family: 'Patrick Hand';
  word-spacing: 0.8rem;
}

/* =====================================
    MEDIA QUERIES FOR RESPONSIVE DESIGN
   =====================================*/
